name: Lint

on: [ push ]
permissions: write-all

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      #- name: flake8 Lint
      #  uses: py-actions/flake8@v2
      - name: Prepare MyPy ENV
        run: pip install .[lint]
      - name: Run mypy
        uses: github.com/aaarrti/mypy-github-action
        with:
          checkName: Lint   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
