name: Run Tests

on: [ push, pull_request, workflow_dispatch ]

jobs:
  test:
    name: test ${{ matrix.py }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v4
        with:
          cache: 'pip'
          python-version: ${{ matrix.py }}
      - uses: actions/checkout@v3
      - name: Install tox-gh
        run: pip install tox-gh
      - name: Setup test suite
        run: tox run -vv --notest
      - name: Run test suite
        run: tox run --skip-pkg-install
        env:
          PYTEST_ADDOPTS: "-vv -s"
